.header {
  padding-block: .9375rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .hello {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

/* qauery */
.query-form {
  padding-right: .625rem;
  display: grid;
  grid-template-columns: 1fr 1rem;
  gap: 1rem;
  width: min(100%, 32.8125rem);
  border: 2px solid var(--neutral-100);
  border-radius: .375rem;
}

.query-form__input {
  padding-left: .625rem;
  padding-block: .625rem;
  height: 2.25rem;
}

.query-form__input:focus {
  outline: 2px solid var(--neutral-100);
  border-radius: .375rem 0 0 .375rem;
}

.query-form__input::placeholder {
  color: inherit;
}

.query-form__submit {
  padding-block: .625rem;
  display: flex;
  align-items: center;
}

.query-form__submit-icon {
  width: 1rem;
  aspect-ratio: 1;
}

.menu-button {
  cursor: pointer;
}

/* menu */

.menu-backdrop {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: var(--neutral-975);
  /* gsap animating */
  opacity: 0;
}

body {
  overflow-x: hidden;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--gray-900);
  --page-layout-width: min(100%, 23.5rem);
  --page-inline-padding: 5rem;
  width: var(--page-layout-width);
  padding-top: 1.375rem;
  height: 100vh;
  /* gsap animating */
  /* right: calc(-1 * var(--page-layout-width)); */
  /* transform: translateX(30rem); */
  right: -30rem;
}

.menu-button {
  display: grid;
  align-self: end;
  margin-left: auto;
}

.menu-navi {
  margin-top: 4rem;
}

.menu-navi-list {
  display: grid;
  gap: 2.5rem;
}

.menu-navi-list__item {

}

.menu-navi__link {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
  width: fit-content;
}

.menu-navi__link.active {
  color: var(--rose-700);
}

.menu-navi__link img {
  display: none;
}

.menu-navi__link.active img {
  display: block;
}