.hero-slider {
  --slide-value: min(100dvh, 37.5rem);
  width: 100%;
  height: var(--slide-value);
  overflow: hidden;
  position: relative;
}

.hero-slides {
  position: absolute;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all ease-in-out 0.25s;
}

.hero-navigators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 0;
  bottom: 0;
  align-items: end;
}

.hero-navigator {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.hero-navigator__line {
  display: flex;
  height: 0.1875rem;
  width: 1.25rem;
  background-color: var(--neutral-100);
  border-radius: 0.375rem;
  transition: opacity ease-in-out 0.25s;
}

.hero-slide {
  width: 100%;
  height: var(--slide-value);
  background-repeat: no-repeat;
  padding-top: 4.875rem;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero-slide__bg {
  position: absolute;
  inset: 0;
  background-color: var(--neutral-950);
  z-index: 1;
}

.hero-slide-container > *:not(.hero-slide__bg) {
  z-index: 2;
}

.hero-slide-container {
  display: grid;
  gap: 1rem;
}

.hero-slide__heading {
  max-width: 10ch;
}

.hero-slide__desc {
  max-width: 32ch;
}

.hero-slide__rates img {
  margin-right: 0.625rem;
}

.hero-slide__cta {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--rose-700);
  cursor: pointer;
}

/* Featured Styles */

.movies-container {
  position: relative;
}

.movie-card {
  transition: transform ease 0.15s;
  cursor: pointer;
}

.movie-card__poster-container {
  overflow: hidden;
}

.movie-card__poster {
  transition: all ease-out 0.25s;
}

.movie-card:hover .movie-card__poster {
  transform: scale(1.1);
}

/* Video slider */

.video-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  z-index: 4;
}

.video-card__video-container {
  position: relative;
}

.video-card__video {
  aspect-ratio: 450 / 253;
  height: 15.8125rem;
}

.video-card__thumbnail {
  position: absolute;
  inset: 0;
  /* z-index: 4; */
}

.video-card__play-button {
  position: absolute;
  inset: calc(50% - (3.75rem / 2));
  width: 3.75rem;
  height: 3.75rem;
  /* z-index: 5; */
  cursor: pointer;
}

.video-card__dark-gradient {
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 10%);
}

.video-card--playing .video-card__thumbnail,
.video-card--playing .video-card__play-button,
.video-card--playing .video-card__dark-gradient {
  display: none;
}

/* cast card */

.cast-card__title {
  margin-top: 0.75rem;
}
