.hero-slider {
  --slide-value: min(100dvh, 37.5rem);
  width: 100%;
  height: var(--slide-value);
  overflow: hidden;
  position: relative;
}

.hero-slides {
  position: absolute;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all ease-in-out .25s;
  /* transform: translateY(calc(2 * var(--slide-value))); */
}

.hero-navigators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .625rem;
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 0;
  bottom: 0;
  align-items: end;
}

.hero-navigator {
  cursor: pointer;
  transition: all ease-in-out .25s;
  display: flex;
  align-items: center;
  gap: .375rem;
}

.hero-navigator__line {
  display: flex;
  height: .1875rem;
  width: 1.25rem;
  background-color: var(--neutral-100);
  border-radius: .375rem;
  transition: opacity ease-in-out .25s;
}

.hero-slide {
  width: 100%;
  height: var(--slide-value);
  /* background-color: var(--neutral-950); */
  background-repeat: no-repeat;
  padding-top: 4.875rem;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero-slide__bg {
  position: absolute;
  inset: 0;
  background-color: var(--neutral-950);
  z-index: 1;
}

.hero-slide-container > *:not(.hero-slide__bg) {
  z-index: 2;
}

.hero-slide-container {
  display: grid;
  gap: 1rem;
}

.hero-slide__heading {
  max-width: 10ch;
}

.hero-slide__desc {
  max-width: 32ch;
}

.hero-slide__rates img {
  margin-right: 0.625rem;
}

.hero-slide__cta {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 1rem;
  border-radius: .375rem;
  background-color: var(--rose-700);
  cursor: pointer;
}
