.hero-slider {
  --slide-value: min(100dvh, 37.5rem);
  width: 100%;
  height: var(--slide-value);
  overflow: hidden;
  position: relative;
}

.hero-slides {
  position: absolute;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all ease-in-out 0.25s;
}

.hero-navigators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 0;
  bottom: 0;
  align-items: end;
}

.hero-navigator {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.hero-navigator__line {
  display: flex;
  height: 0.1875rem;
  width: 1.25rem;
  background-color: var(--neutral-100);
  border-radius: 0.375rem;
  transition: opacity ease-in-out 0.25s;
}

.hero-slide {
  width: 100%;
  height: var(--slide-value);
  background-repeat: no-repeat;
  padding-top: 4.875rem;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero-slide__bg {
  position: absolute;
  inset: 0;
  background-color: var(--neutral-950);
  z-index: 1;
}

.hero-slide-container > *:not(.hero-slide__bg) {
  z-index: 2;
}

.hero-slide-container {
  display: grid;
  gap: 1rem;
}

.hero-slide__heading {
  max-width: 10ch;
}

.hero-slide__desc {
  max-width: 32ch;
}

.hero-slide__rates img {
  margin-right: 0.625rem;
}

.hero-slide__cta {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--rose-700);
  cursor: pointer;
}

/* Featured Styles */

.movies {
  padding-top: 5rem;
  --page-minimum-padding: 4rem;
}

.movies-container { 
  position: relative;
}

.movie-slider {
  position: relative;
  overflow-x: scroll;
  padding-bottom: 4.375rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15.625rem;
  gap: 5rem;
  transition: all ease .25s;
}

.movie-card {
  transition: transform ease .15s;
  cursor: pointer;
}

.movie-card__poster-container {
  overflow: hidden;
}

.movie-card__poster {
  transition: all ease-out .25s;
}

.movie-card:hover .movie-card__poster {
  transform: scale(1.1);
}

.movie-slider::-webkit-scrollbar {
  display: none;
}

.movie-navigators {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  top: 43%;
  cursor: pointer;
  overflow: visible ;
}

.movie-navigator {
  min-width: 3rem;
  min-height: 3rem;
  box-sizing: content-box;
  aspect-ratio: 1;
  z-index: 3;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: .375rem;
}

.movie-navigator, .movie-navigator__icon {
  transition: all ease .25s;
}

.movie-navigator:hover .movie-navigator__icon {
  transform: scale(1.5);
}