.slider {
  position: relative;
  overflow-x: scroll;
  padding-bottom: 4.375rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15.625rem;
  gap: 5rem;
  transition: all ease .25s;
}

.slider-navigators {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  top: 43%;
  cursor: pointer;
  overflow: visible ;
}

.slider-navigator {
  min-width: 3rem;
  min-height: 3rem;
  box-sizing: content-box;
  aspect-ratio: 1;
  z-index: 3;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: .375rem;
}

.slider-navigator, .slider-navigator__icon {
  transition: all ease .25s;
}

.slider-navigator:hover .slider-navigator__icon {
  transform: scale(1.5);
}